# Build artifacts
.DS_Store
/node_modules
/.svelte-kit
/build
/package
/logs
vite.config.[tj]s.timestamp-*

# Test results
/playwright-report
/test-results
/coverage

# Exclude sensitive configuration files
*.local