:root {
  --bg-col: #222;
  --scrollbar-width: 14px;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  color: #bbb;
  background: var(--bg-col);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  visibility: hidden;
}
::-webkit-scrollbar-thumb {
  background: #88888888;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbbbb;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;

  text-align: center;
}
h1,h2 {
  color: #fff;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 42px;
  letter-spacing: 0.5px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}