:root {
  --header-height: 3rem;
  --scrollbar-width: 14px;
  color: #FFFFFF;
  background-color: #121212;
}

html,body {
  height: 100%;
  font-size: 20px;
}
body {
  margin: 0;
  
  color: var(--thm-txtPri);
  background: var(--thm-bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 900px) {
  html { font-size: 16px; }
}
@media (max-width: 400px) {
  html { font-size: 12px; }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  position: fixed;
  top: 0;
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  visibility: hidden;
}
::-webkit-scrollbar-thumb {
  background: #88888888;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbbbb;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;

  color: var(--thm-txtPri);

  text-align: center;
}
h1, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

input {
  color: var(--thm-inputText);
  background-color: var(--thm-inputBg);
}
input:hover {
  background-color: var(--thm-inputHovBg);
}
input:selected {
  background-color: var(--thm-inputSelBg);
}
input:disabled {
  background-color: var(--thm-inputDisBg);
}
input::placeholder {
  color: var(--thm-inputPlaceholder);
}

button {
  border-radius: 5px;

  outline: none;
  border: none;

  color: var(--thm-btn);
  background-color: var(--thm-btnBg);
  cursor: pointer;
}
button:hover {
  color: var(--thm-btnHov);
  background-color: var(--thm-btnHovBg);
}
button:disabled {
  color: var(--thm-btnDis);
  background-color: var(--thm-btnDisBg);
  cursor: default;
}

/* User Select None (usn) */
button,.usn {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.default-btn-text {
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  font-weight: 600;
}