.App-Body {
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  position: fixed;

  align-items: center;
  align-content: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  
  color: white;
  background-color: #282c34;
}