.App-Body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position:static;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}